<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LSCalSync.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C1F4431A1C189A3D00F7B2C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1F4432E1C189A3D00F7B2C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1F443391C189A3D00F7B2C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
